<div class="modal">
  <div class="modal__content">
    <header class="modal__header">
      <h1 class="modal__title">G112082</h1>
      <div class="modal__actions">
        <button class="button button--gray modal__edit">
          <img src="assets/images/edit.svg" alt="edit" draggable="false" />
          <span>Edit</span>
        </button>
        <div class="modal__border--vertical"></div>
        <div class="modal__nav">
          <div class="modal__rewinding">
            <button class="modal__button--header">
              <img src="assets/images/back.svg" alt="back" draggable="false" />
            </button>
            <button class="modal__button--header">
              <img src="assets/images/next.svg" alt="next" draggable="false" />
            </button>
          </div>
          <button class="modal__button--header">
            <img
              src="assets/images/full-screen.svg"
              alt="full-screen"
              draggable="false"
            />
          </button>
          <button class="modal__button--header" (click)="modalService.close()">
            <img src="assets/images/close.svg" alt="close" draggable="false" />
          </button>
        </div>
      </div>
    </header>
    <div class="modal__body">
      <section class="modal__body--first">
        <div class="modal__body--left modal__info--left">
          <div class="modal__field">
            <div class="modal__label">Brand</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">NEC</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Model/Series</div>
            <div class="modal__value">sgdsdg</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Devise P/N</div>
            <div class="modal__value">sgdsgds</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Dev. Type</div>
            <div class="modal__value">dfhsshd</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">RNK</div>
            <div class="modal__value">sfdhsdf</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Min price</div>
            <div class="modal__value">hdtftd</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Max price</div>
            <div class="modal__value">dhfgh</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Quantity</div>
            <div class="modal__value">dgfjv</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">EPrq</div>
            <div class="modal__value">fgfdh</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">EA4q</div>
            <div class="modal__value">hdfhfh</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Photo_device</div>
            <a href="#" class="modal__value modal__value--url">
              <span class="modal__value--span">https://drive.google.com</span>
              <img src="assets/images/link.svg" alt="link" draggable="false" />
            </a>
          </div>
        </div>
        <div class="modal__body--left modal__info--right">
          <div class="modal__field">
            <div class="modal__label">Sku</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">NEC</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">L-User</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">NEC</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Category</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">NEC</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">E-User</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">NEC</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Green_id</div>
            <div class="modal__value">sfdhsdf</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Edit_at</div>
            <div class="modal__value">hdtftd</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Create_at</div>
            <div class="modal__value">dhfgh</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Amazon Listing Src</div>
            <a href="#" class="modal__value modal__value--url">
              <span class="modal__value--span">https://drive.google.com</span>
              <img src="assets/images/link.svg" alt="link" draggable="false" />
            </a>
          </div>
          <div class="modal__field">
            <div class="modal__label">eLCCq</div>
            <div class="modal__value">fgfdh</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Amazq</div>
            <div class="modal__value">hdfhfh</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Notes</div>
            <div class="modal__value">jfgf</div>
          </div>
        </div>
        <div class="modal__body--rigth">
          <div class="modal__field--image">
            <p class="field__image_text">Photo_device</p>
            <img
              src="assets/images/test.svg"
              alt="device"
              draggable="false"
              class="field__image_img"
            />
          </div>
          <div class="modal__field--image">
            <p class="field__image_text">Photo_data_plate</p>
            <img
              src="assets/images/test2.svg"
              alt="date plate"
              draggable="false"
              class="field__image_img"
            />
          </div>
        </div>
      </section>
      <section class="modal__body--second">
        <div class="modal__title-block">
          <h1 class="modal__title">List Location</h1>
          <div class="modal__title-count">6</div>
        </div>
        <table class="modal__table">
          <thead>
            <tr>
              <th class="modal__table--th">ID</th>
              <th class="modal__table--th">Brand</th>
              <th class="modal__table--th">Category</th>
              <th class="modal__table--th">Device P/N</th>
              <th class="modal__table--th">Gty</th>
              <th class="modal__table--th">Condition</th>
              <th class="modal__table--th">Edit User</th>
              <th class="modal__table--th">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="modal__table--td">dsgdfg</td>
              <td class="modal__table--td">shfdhsfdhhf</td>
              <td class="modal__table--td">sdfhsdh</td>
              <td class="modal__table--td">dsfhsdf</td>
              <td class="modal__table--td">shdsfhd</td>
              <td class="modal__table--td">hdfsdfg</td>
              <td class="modal__table--td">dfshdfh</td>
              <td class="modal__table--td">
                <div class="modal__table--more">
                  <div>sdgdfsgd</div>
                  <img src="assets/images/more.svg" alt="more" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="modal__body--third">
        <div class="modal__title-block">
          <h1 class="modal__title">List Ebay Vision Listings</h1>
          <div class="modal__title-count">6</div>
        </div>
        <table class="modal__table">
          <thead>
            <tr>
              <th class="modal__table--th">Listing_id</th>
              <th class="modal__table--th">SKU</th>
              <th class="modal__table--th">Condition_id</th>
              <th class="modal__table--th">Product_id</th>
              <th class="modal__table--th">Title</th>
              <th class="modal__table--th">Price</th>
              <th class="modal__table--th">Listing_qty</th>
              <th class="modal__table--th">Inventory_q</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="modal__table--td">dsgdfg</td>
              <td class="modal__table--td">shfdhsfdhhf</td>
              <td class="modal__table--td">sdfhsdh</td>
              <td class="modal__table--td">dsfhsdf</td>
              <td class="modal__table--td">shdsfhd</td>
              <td class="modal__table--td">hdfsdfg</td>
              <td class="modal__table--td">dfshdfh</td>
              <td class="modal__table--td">sdgdfsgd</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="modal__body--fourth">
        <div class="modal__title-block">
          <h1 class="modal__title">Same Products</h1>
          <div class="modal__title-count">1</div>
        </div>
        <table class="modal__table">
          <thead>
            <tr>
              <th class="modal__table--th">Original_id</th>
              <th class="modal__table--th">Same_id</th>
              <th class="modal__table--th">Fk_edit_employee</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="modal__table--td">dsgdfg</td>
              <td class="modal__table--td">shfdhsfdhhf</td>
              <td class="modal__table--td">
                <div class="modal__table--more">
                  <div>sdgdfsgd</div>
                  <img src="assets/images/more.svg" alt="more" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <footer class="modal__footer">
      <button class="button button--transparent">Expand</button>
      <button class="button button--gray">Add</button>
    </footer>
  </div>
</div>
