<div class="modal">
  <div class="modal__content">
    <header class="modal__header">
      <h1 class="modal__title">{{ data?.id || "..." }}</h1>
      <div class="modal__actions">
        <button class="button button--gray modal__edit" [disabled]="error">
          <img src="assets/images/edit.svg" alt="edit" draggable="false" />
          <span>Edit</span>
        </button>
        <div class="modal__border--vertical"></div>
        <div class="modal__nav">
          <div class="modal__rewinding">
            <button class="modal__button--header" [disabled]="error">
              <img src="assets/images/back.svg" alt="back" draggable="false" />
            </button>
            <button class="modal__button--header" [disabled]="error">
              <img src="assets/images/next.svg" alt="next" draggable="false" />
            </button>
          </div>
          <button class="modal__button--header" [disabled]="error">
            <img
              src="assets/images/full-screen.svg"
              alt="full-screen"
              draggable="false"
            />
          </button>
          <button class="modal__button--header" (click)="modalService.close()">
            <img src="assets/images/close.svg" alt="close" draggable="false" />
          </button>
        </div>
      </div>
    </header>
    <div class="modal__body" *ngIf="!error">
      <section class="modal__body--first">
        <div class="modal__body--left modal__info--left">
          <div class="modal__field">
            <div class="modal__label">Brand</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">{{ data?.brand || "..." }}</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Model/Series</div>
            <div class="modal__value">{{ data?.model_series || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Devise P/N</div>
            <div class="modal__value">{{ data?.device_pn || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Dev. Type</div>
            <div class="modal__value">{{ data?.dev_type || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">RNK</div>
            <div class="modal__value">{{ data?.rnk || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Min price</div>
            <div class="modal__value">{{ data?.min_price || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Max price</div>
            <div class="modal__value">{{ data?.max_price || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Quantity</div>
            <div class="modal__value">{{ data?.quantity || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">EPrq</div>
            <div class="modal__value">{{ data?.ePrq || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">EA4q</div>
            <div class="modal__value">{{ data?.eA4q || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Photo_device</div>
            <a href="#" class="modal__value modal__value--url">
              <span class="modal__value--span">{{
                data?.photo_device || "..."
              }}</span>
              <img src="assets/images/link.svg" alt="link" draggable="false" />
            </a>
          </div>
        </div>
        <div class="modal__body--left modal__info--right">
          <div class="modal__field">
            <div class="modal__label">Sku</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">{{ data?.sku || "..." }}</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">L-User</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">{{
                data?.l_user || "..."
              }}</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Category</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">{{
                data?.category || "..."
              }}</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">E-User</div>
            <div class="modal__value modal__value--more">
              <span class="modal__value--span">{{
                data?.e_user || "..."
              }}</span>
              <a href="#" class="modal__value--link">
                <img
                  src="assets/images/more.svg"
                  alt="more"
                  draggable="false"
                />
              </a>
            </div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Green_id</div>
            <div class="modal__value">{{ data?.green_id || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Edit_at</div>
            <div class="modal__value">{{ data?.edit_at || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Create_at</div>
            <div class="modal__value">{{ data?.create_at || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Amazon Listing Src</div>
            <a href="#" class="modal__value modal__value--url">
              <span class="modal__value--span">{{
                data?.amazon_listing_src || "..."
              }}</span>
              <img src="assets/images/link.svg" alt="link" draggable="false" />
            </a>
          </div>
          <div class="modal__field">
            <div class="modal__label">eLCCq</div>
            <div class="modal__value">{{ data?.elCcq || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Amazq</div>
            <div class="modal__value">{{ data?.amazq || "..." }}</div>
          </div>
          <div class="modal__field">
            <div class="modal__label">Notes</div>
            <div class="modal__value">{{ data?.notes || "..." }}</div>
          </div>
        </div>
        <div class="modal__body--rigth">
          <div class="modal__field--image">
            <p class="field__image_text">Photo_device</p>
            <img
              src="assets/images/test.svg"
              alt="device"
              draggable="false"
              class="field__image_img"
            />
          </div>
          <div class="modal__field--image">
            <p class="field__image_text">Photo_data_plate</p>
            <img
              src="assets/images/test2.svg"
              alt="date plate"
              draggable="false"
              class="field__image_img"
            />
          </div>
        </div>
      </section>
      <section class="modal__body--second">
        <div class="modal__title-block">
          <h2 class="modal__title">List Location</h2>
          <div class="modal__title-count">
            {{ data?.location?.length || "..." }}
          </div>
        </div>
        <table class="modal__table">
          <colgroup>
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: 40%" />
          </colgroup>
          <thead>
            <tr>
              <th class="modal__table--th">ID</th>
              <th class="modal__table--th">Brand</th>
              <th class="modal__table--th">Category</th>
              <th class="modal__table--th">Device P/N</th>
              <th class="modal__table--th">Qty</th>
              <th class="modal__table--th">Condition</th>
              <th class="modal__table--th">Edit User</th>
              <th class="modal__table--th">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let location of data?.location">
              <td class="modal__table--td">{{ location.id || "..." }}</td>
              <td class="modal__table--td">{{ location.brand || "..." }}</td>
              <td class="modal__table--td">{{ location.category || "..." }}</td>
              <td class="modal__table--td">
                {{ location.device_pn || "..." }}
              </td>
              <td class="modal__table--td">{{ location.qty }}</td>
              <td class="modal__table--td">
                {{ location.condition || "..." }}
              </td>
              <td class="modal__table--td">
                {{ location.edit_user || "..." }}
              </td>
              <td class="modal__table--td">
                <div class="modal__table--more">
                  <div>{{ location.notes || "..." }}</div>
                  <img src="assets/images/more.svg" alt="more" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="modal__body--third">
        <div class="modal__title-block">
          <h2 class="modal__title">List Ebay Vision Listings</h2>
          <div class="modal__title-count">
            {{ data?.ebay_listings?.length || "..." }}
          </div>
        </div>
        <table class="modal__table">
          <thead>
            <tr>
              <th class="modal__table--th">Listing_id</th>
              <th class="modal__table--th">SKU</th>
              <th class="modal__table--th">Condition_id</th>
              <th class="modal__table--th">Product_id</th>
              <th class="modal__table--th">Title</th>
              <th class="modal__table--th">Price</th>
              <th class="modal__table--th">Listing_qty</th>
              <th class="modal__table--th">Inventory_q</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ebay of data?.ebay_listings">
              <td class="modal__table--td">{{ ebay.listing_id || "..." }}</td>
              <td class="modal__table--td">{{ ebay.sku || "..." }}</td>
              <td class="modal__table--td">{{ ebay.condition_id || "..." }}</td>
              <td class="modal__table--td">{{ ebay.product_id || "..." }}</td>
              <td class="modal__table--td">{{ ebay.title || "..." }}</td>
              <td class="modal__table--td">{{ ebay.price || "..." }}</td>
              <td class="modal__table--td">{{ ebay.listing_qty || "..." }}</td>
              <td class="modal__table--td">
                {{ ebay.inventory_qty || "..." }}
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="modal__body--fourth">
        <div class="modal__title-block">
          <h2 class="modal__title">Same Products</h2>
          <div class="modal__title-count">
            {{ data?.same_products?.length || "..." }}
          </div>
        </div>
        <table class="modal__table">
          <thead>
            <tr>
              <th class="modal__table--th">Original_id</th>
              <th class="modal__table--th">Same_id</th>
              <th class="modal__table--th">Fk_edit_employee</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let same of data?.same_products">
              <td class="modal__table--td">{{ same.original_id || "..." }}</td>
              <td class="modal__table--td">{{ same.same_id || "..." }}</td>
              <td class="modal__table--td">
                <div class="modal__table--more">
                  <div>{{ same.fk_edit_employee || "..." }}</div>
                  <img src="assets/images/more.svg" alt="more" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <div class="modal__body--error" *ngIf="error">
      {{ error }}
    </div>
    <footer class="modal__footer">
      <button class="button button--transparent" [disabled]="error">
        Expand
      </button>
      <button class="button button--gray" [disabled]="error">Add</button>
    </footer>
  </div>
</div>
