body {
  min-height: 100vh;
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button {
  border-radius: 10px;
  padding: 8px 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-style: Bold;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0%;
}

.button--gray {
  background: #8184af;
  color: #ffffff;

  &:hover {
    background: #8f93c3;
  }
}

.button--transparent {
  background: transparent;
  color: #525369;
  border: 1px solid #8184af;

  &:hover {
    color: #ffffff;
    background: #8184af;
  }
}
